---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Shop">
    <div class="shop">
        <h1>Sandwich Kits</h1>
        <noscript>
            <p>Javascript is required to purchase things from Sndwch web store. To order by phone, call <a href="tel:+250785844487">250-785-844-487</a></p>
        </noscript>
        <div class="products">
            <p>TODO: List products</p>
            <p>TODO: Show cart</p>
        </div>
    </div>
</Layout>

<style>
    
</style>